@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    @await Component.InvokeAsync("_MainHeadComponentPartial")

<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        @await Component.InvokeAsync("_MainNavbarComponentPartial")
        <div class="container">
            <section class="content mt-3">
                <div class="row">
                    <div class="col-md-3">
                        <a href="/Message/SendMessage" class="btn btn-primary btn-block mb-3">+ Yeni Mesaj</a>

                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Mail</h3>

                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body p-0">
                                <ul class="nav nav-pills flex-column">
                                    <li class="nav-item active">
                                        <a href="/Message/Index" class="nav-link">
                                            <i class="fas fa-inbox"></i> Gelen Kutusu
                                            <span class="badge bg-primary float-right">@ViewBag.NotReadMessageCount</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/Message/SentMessage" class="nav-link">
                                            <i class="far fa-envelope"></i> Giden Kutusu
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/Message/Draft" class="nav-link">
                                            <i class="far fa-file-alt"></i> Taslaklar
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/Message/MessageTrash" class="nav-link">
                                            <i class="far fa-trash-alt"></i> Çöp Kutusu
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    @RenderBody()
                </div>
            </section>
        </div>
        @await Component.InvokeAsync("_MainFooterAndScriptsComponentPartial")
    </div>
</body>
</html>

