@model LoginViewModel

@{
    Layout = null;
}


<h3>Giriş Yap</h3>

<form method="post">
    <div class="form-group">
        <label>Email</label>
        <input type="email" asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <label>Şifre</label>
        <input type="password" asp-for="Password" class="form-control" />
    </div>
    <span class="text-danger">@Html.ValidationSummary()</span>
    <button type="submit" class="btn btn-primary">Giriş Yap</button>
</form>
